@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    /*
    background-color: black;
    background-image: url("imagens/wallpaper002.jpg");
    background-position: center center;
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;*/

    /*shorthand - background
    
    color> image> position: > background-repeat>background-size> background-attachment; 

    O background-size NÃO FUNCIONA NO SHORTHAND NO EXATO MOMENTO, POR ESSE MOTIVO SERÁ NECESSARIO INSERIR INDIVIDUALMENTE O MESMO.
    
    */

    background: black url("imagens/wallpaper002.jpg")center center fixed;
    background-size: cover;


}

main{
    background-color: rgba(255, 255, 255, 0.699);
    margin:10px auto;
    max-width: 400px;
    text-align: center;
    padding: 10px;
    border: 5px double red;
    border-radius: 10px;
  
}

footer{
    border: 2px solid black;
    background-color: red;
    text-align: center;
    padding: 4px;
    color: white;
    
}