@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: lightgrey;
  min-height: 100vh;
}

header {
  background-color: black;
  color: white;
  text-align: center;
}
header > h1 {
  padding-top: 50px;
  font-variant: small-caps;
}

section{
    padding-top:10vh;
    padding-bottom: 10;
    line-height: 2em;
    padding-left: 30px;
}



section>p{

  padding: 15px;
}

.normal {
    background-color:white;
    color: black;
}
.imagem {
    background-color: rgb(43, 42, 42);
    color: white;
}

a {
    color: white;
    text-decoration:none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}
